doctype html
html
  head
      block head
        title="Stock Overflow"
        link(rel="icon" type="image/png" href="/favicon.png")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/nav-bar.css')
        script(type="text/javascript" src="/javascripts/nav-bar.js")
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/left-nav-bar.css')

  body
    .header-nav
      .logo-container
        a(href="/")
          img(class="logo-sm" src="/logo3.png")
          img(class="logo" src="/logo2.svg")
      .search-bar
          button(id="search-icon") 🔎
          input(class="search-bar-field" placeholder="Search..." name="q" type="text")
      if locals.authenticated
        .right-buttons
          form(action='/users/logout' method='post')
            button(class='light-blue-button' type='submit') Logout
          a(href="/users/settings" class='settings-img')
            img(src="/settings.png" class='settings-img')

      else
        .right-buttons
          a(id="login-button" href="/users/login" class="light-blue-button") Log In
          a(id="signup-button" href="/users/signup" class="blue-button") Sign Up
    .body-container
      .left-navbar
        ol(class='left-nav-links')
          li(class='left-navbar-li hoverable')
            a(class='li-link' href='/') Home
          li(class='left-navbar-li') PUBLIC
            ol(class='left-nav-public')
              li(class='left-navbar-li hoverable')
                a(class='li-link' href='/questions') Questions

      .body-content
        block content
