extends layout

block content
  h1= title
  div(id='questions')
    each question in questions
        div(class='question-summary')
            div(class='stats-container')
                div(class='vote')
                div(class='responses')
                div(class='views')
            div(class='summary')
                h3
                    a(class ='question-link' href='/questions/' + question.id)= question.questionTitle
                div(class='excerpt')= question.questionText
                div(class='tags') put tags here
                div(class='author')= question.User.userName
    