include layout.pug

block content
    if errors
        div(class='alert alert-danger' role='alert')
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    div(class='login-div')
        form(action='/users/login' class='login-form' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div
                label Username or Email:
                input(type='text' name='userName' class="search-bar-field" userName)
            div
                label Password:
                input(type='password' name='password' class="search-bar-field" password)
            div
                button(type='submit' class="blue-button") Log In
            div 
                p: a(href='/user/signup') Don't Have An Account?