.h1 {
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h1>h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 5px;
}

.ask-question-btn {
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: .8em;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.stats-container, .summary {
    display: inline-block;
}

.stats-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-div, .responses-div {
    display: inline-block;
    height: 50px;
    width: 60px;
}

.labels {
    font-size: 12px;
}

.votes, .responses, .labels{
    display: flex;
    justify-content: center;    
}

.question-summary {
    background-color: #fdf7e3;
    box-sizing: border-box;
    padding-left: 8px;
    width: 100%;
    border-bottom: 1px solid #eff0f1;
    padding: 2px;
    
    height: auto;
    display: flex;
    align-items: center;
}

.summary {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.votes>a, .responses>a {
    text-decoration: none;
}


