.h1 {
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h1>h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.ask-question-btn {
    text-decoration: none;
    background-color: #555555;
    color: white;
    padding: 2px 6px 2px 6px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.stats-container, .summary {
    display: inline-block;
}

.stats-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-div, .responses-div {
    display: inline-block;
    height: 50px;
    width: 60px;
}

.labels {
    font-size: 12px;
}

.votes, .responses, .labels{
    display: flex;
    justify-content: center;    
}

.question-summary {
    background-color: #fdf7e3;
    box-sizing: border-box;
    padding-left: 8px;
    width: 100%;
    border-bottom: 1px solid #eff0f1;
    padding: 2px;
    
    height: auto;
    display: flex;
    align-items: center;
}

.summary {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.votes>a, .responses>a {
    text-decoration: none;
}


