.login-form {
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
    /* 0 1px 4px rgb(0 0 0 / 10%);
    , 0 20px 48px rgb(0 0 0 / 5%),  */
    background-color:white;
    margin: 10px;
    padding: 20px;
    border-radius: 7px
}

.login-div {
    display: flex;
    justify-content: center;

}
body {
    background-color: var(--black-100);
}