append head
    link(rel='stylesheet' href='/stylesheets/footer.css')

block footer
    div(class="footer-container")
        .footer-1
            a(href="/")
                img(class="footer-logo" src="/logo3.png")
        .footer-2
            h1(class="footer-column-title") stock overflow
            ul(class="li-plain no-padding")
                li
                    a(class="footer-column-text footer-link" href="/questions") Questions
                li
                    a(class="footer-column-text footer-link" href="/users/login") Log In
                li
                    a(class="footer-column-text footer-link" href="/users/signup") Create an Account
        .footer-3
            h1(class="footer-column-title") something
            ul(class="li-plain no-padding")
                li
                    a(class="footer-column-text footer-link" href="") Random Link
        .footer-4
            h1(class="footer-column-title") something
            ul(class="li-plain no-padding")
                li
                    a(class="footer-column-text footer-link" href="") Random Link
        .footer-5
            h1(class="footer-column-title") Our Network
            ul(class="li-plain no-padding")
                li
                    a(class="footer-column-text footer-link" href="https://stackoverflow.com/questions") Stack Overflow
        .footer-6
            h1(class="footer-column-title") Our Team
            div(class="team-box")
                ul(class="li-plain no-padding")
                    li(class="footer-column-text") Jordyn Sechrist
                        div(class="social-stuff")
                            a(href="https://github.com/J0914")
                                img(class="social-logo" src="/githublogo.png")
                            a(href="www.linkedin.com/in/jordyn-sechrist-87710b207")
                                img(class="social-logo" src="/linkedinlogo.png")
                    li(class="footer-column-text") Viktorija Tarane
                        div(class="social-stuff")
                            a(href="https://github.com/victoriatarane")
                                img(class="social-logo" src="/githublogo.png")
                            a(href="https://www.linkedin.com/in/victoria-tarane-54a86b5b/")
                                img(class="social-logo" src="/linkedinlogo.png")
                    li(class="footer-column-text") Jimson Ma
                        div(class="social-stuff")
                            a(href="https://github.com/jimsonm")
                                img(class="social-logo" src="/githublogo.png")
                            a(href="YOUR LINKEDIN LINK HERE")
                                img(class="social-logo" src="/linkedinlogo.png")
                    li(class="footer-column-text") Andrew Loeffler
                        div(class="social-stuff")
                            a(href="https://github.com/a-loeffler")
                                img(class="social-logo" src="/githublogo.png")
                            a(href="YOUR LINKEDIN LINK HERE")
                                img(class="social-logo" src="/linkedinlogo.png")
            div(class="align-bottom legal-stuff")
                p(class="footer-column-text small-text align-bottom") site design / logo © 2021 Stock Overflow LLC; user contributions <br> courtesy of App Academy
