extends layout
.header-nav
    .logo-container
        img(class="logo" src=".../planning-documents/logo2")
    .search-bar
        input(class="search-bar-field" placeholder="Search..." name="q" type="text")
    .right-buttons
        button(id="login-button" class="light-blue-button") Log In
        button(id="signup-button" class="blue-button") Sign Up
block content
