.footer-container {
    border-top: 3px solid #f48024;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    background-color: rgb(36, 39, 41);
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-column-title {
    color: rgb(187, 192, 196);
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px;
}

.footer-column-text {
    color: rgb(106, 115, 124);
    font-size: 14px;
    font-weight: 400;
}

.li-plain {
    list-style: none;
}

.no-padding {
    padding: 0;
}

.small-text {
    font-size: 0.7rem;
    margin: 0;
}

.align-bottom {
    position: absolute;
    bottom: 0px;
}

.legal-stuff {
    width: 100%;
}

.footer-6 {
    position: relative
}

.footer-1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.footer-logo {
    height: 41px;
    width: auto;

}

.footer-logo:hover {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -1px;
    height: 40px;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: rgb(187, 192, 196);
}

.social-stuff {
    display: flex;
    width: 30%;
}

.social-logo {
    height: 40px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 15px;
}

.social-logo:hover {
    filter: brightness(80%);
}

.team-box {
    margin-bottom: 40px;
}

.footer-spacer {
    height: 50px;
}