.body-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 55px;
    grid-auto-flow: column;
}

.left-navbar {
    border-right: 1px solid rgb(133, 133, 133);
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.left-nav-links, .left-nav-public{
    list-style: none;
    width: 150px;
}

.left-navbar-li {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    text-decoration: none;

    padding-bottom: 10px;
}

.hoverable:hover {
    background-color: blue;
    border-right: 3px solid #f48024;
}

.li-link {
    padding-left: 10px;
}

.left-nav-public {
    width: 100%;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    height: 100%;
}
