.login-form {
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%);
    background-color:white;
    margin: 10px;
    padding: 20px;
    border-radius: 7px
}

.login-div {
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: center;
    align-items: center;
    margin: 5%;
}


.login-field {
    margin: 10px 0 10px 0;
    border-color: #bbc0c4;
    background-color: white;
    box-shadow: none;
    color: #3c4146;
    border-radius: 3px;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    width: 100%;
}

.login-button {
    margin: 30px 0px;
    width: 100% !important;
}

.labels {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.alert-danger {
    font-size: xx-small;
    color: red;
}

.li-margin-class {
    margin: 0 0 0 30px;
}

.logo-login {
    height: 2.5rem;
    width: 2.5rem;
}

